# Logs
logs/
*.log

# IDE and editor directories/files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac OS files
.DS_Store

# Terraform
*.tfstate
*.tfstate.*
*.terraform/
.terraform.lock.hcl

# Ansible
*.retry
inventory

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Temporary files
*.tmp
